*{
    padding: 0;
    margin: 0;
      box-sizing: border-box;
      flex-wrap: wrap;
}
/* main nav bar */

body
{
    background-color: black;
    
}

#headerbox
{ background-color: black;
display: flex;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;}

.headerbox1
{   
    margin-left: 7%;
    width: 33%;
    /* padding-left: 20px; */
    /* background-color: palevioletred; */
}
.headerbox2
{
    
    /* background-color: yellowgreen; */
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: large;
}

.btn-black
{
    padding: 10px 20px;
    border-radius: 30px;
    background-color: black;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
  /* justify-content: space-around; */

}

.btn-red
{
    padding: 16px;
    border-radius: 30px;
    background-color: red;
    color: white;
    border: 0px;
    display: flex;
    align-items: center;
}


/* Feedbackform */


.experience{
    color: white;
    /* background-color: brown; */
    text-align: center;
    font-size: xx-large;
    }

#forms{
    /* background-color: aqua; */
    width: 100%;
    /* margin-left: 30%; */
    padding: 5px;
    display: flex;
    /* margin-left: 5%; */
    /* background-color: pink; */
    justify-content: center;
    
}

.form1, .form2{
    width: 40%;    
}

.form1{
    padding-right: 20px;
}
.form2
{
    padding-right: 20px;
}

.btnred
{
padding: 15px 40px;


}

input{
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: larger; 
}

.c-whitee
{
    color: grey;
}



/* footer */

#main-footer
{
    background-color:rgb(0, 0, 0);
    display:flex;
    justify-content:left;
    margin-left:5%;
    color:grey;
}
.column1
{
    width: 24%;
    
}
.column2
{
    padding-left: 30px;
}
.color-white
{
    color: white;
}
/* footer end */
#footer-end
{
    display: flex;
    color: grey;
       /* background-color: palevioletred; */
}
.copyright, .Powered
{
    width: 50%;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}
hr
{
width: 90%;
margin-left: 5%;
border: 1px solid grey;
}
